evaluate==0.4.1
FlagEmbedding==1.2.5
jieba==0.42.1
loguru==0.7.2
neo4j==5.17.0
numpy==1.24.0
openai==1.25.2
py2neo==2021.2.4
requests==2.31.0
rouge_score==0.1.2
scikit-learn==1.4.2
sentence-transformers==2.4.0
text2vec==1.2.9
tiktoken==0.6.0
tokenizers==0.15.2
torch==2.2.1
tqdm==4.66.2
transformers==4.38.1
umap==0.1.1
